@model MovieClientApp.Models.Ticket

@{
    ViewData["Title"] = "CartAdded";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ticket Booked successfully</h1>

<div>
    <h4>Ticket Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fare)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fare)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div>
    <h3 class="text-center">Thank You </h3>
</div>
